@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.widthBtn {
		@apply w-[calc(100%_+_110px)];
	}
}

body {
	background-color: #272b37;
	color: #d9d9d9;

	font-family: 'Montserrat';
}

#instagram-slider .swiper-wrapper {
	@apply overflow-visible;
}

.swiper-pagination-bullets {
	@apply text-center mt-4;
}

.swiper-pagination-bullets .swiper-pagination-bullet {
	@apply w-[30px] h-1 rounded-lg bg-white bg-opacity-50;
}

p {
	letter-spacing: 0.03rem;
}

.titleMainBanner {
	font-family: 'Bebas';
}

input:focus,
textarea:focus {
	outline: none;
}

.swiper-button-disabled {
	opacity: 0.2;
}

@media (min-width: 768px) {
	.hotelTravel article:nth-child(even) .hotelSwiper {
		order: 3;
	}
	.hotelTravel article:nth-child(even) .hotelContent {
		order: 1;
	}
}

.page-enter-active,
.page-leave-active {
	transition: all 0.4s;
}
.page-enter-from,
.page-leave-to {
	opacity: 0;
	filter: blur(1rem);
}

p {
	font-size: 14px;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
	transition:
		background-color 600000s 0s,
		color 600000s 0s;
}
input[data-autocompleted] {
	background-color: transparent !important;
}
